/*main binding menu div */
div#controlBindingsMenu {
	width: 50%;
	height: 50%;
	border-color: white;
	border-style: solid;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #000;
}

/*window title */
h1#controlBindingsMenuH1 {
    color: #fff;
    font-style: italic;
    text-align: center;
}