div#dialogBoxDiv {
	width: 100%;
	height: 25%;
	border-color: white;
	border-style: solid;
	position: absolute;
	bottom: 0%;
	/* transform: translate(-50%, -50%); */
	background-color: rgba(0, 0, 0, 0.8);
	border-left-width: 0;
	/* border-top-width: 0; */
	border-right-width: 0;
	border-bottom-width: 0;
}

img#dialogBoxPfpImg {
	/* height: 25%; */
	width: 100%;
	border-radius: 5%;
}

p#dialogBoxNameTxt {
	margin: 0;
	color: #FFF;
	font-weight: bold;
	font-size: 150%;
	/* margin-left: 5%; */
	text-align: center;
}

p#dialogBoxTxt {
	color: white;
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: left;
	font-size: 150%;
	margin: 0.5%;
}

/* layout lable for dialog box */
table.dialogBoxTable {
	border-spacing: 0px;
	border-collapse: collapse;
	padding-left: 0.5%;
}

/* layout table cells */
tr.dialogBoxTr {
	padding: 0px;
}

/* cell that has picture */
td#dialogBoxTdaa {
	width: 11%;
}

/* cell that has the text below the picture */
td#dialogBoxTdba {
	width: 11%;
}

/* cell that contains what the character is saying */
td#dialogBoxTdab {
	vertical-align: top;
}

