/* main div container */
div#hud {
	width: 100%;
	height: 7%;
	border-color: white;
	border-style: solid;
	position: absolute;
	top: 0;
	/*-ms-transform: translate(-50%, -50%);*/
	/*transform: translate(-50%, -50%);*/
	background-color: rgba(0, 0, 0, 0.8);
	border-left-width: 0;
	border-top-width: 0;
	border-right-width: 0;
}
/* general text stuff */
h1.hudH1Label, h1.hudH1Display {
	color: #fff;
	font-size: 150%;
	margin: 0;
	margin-left: 25%;
}

/* video player on HUD */
iframe#hudVideo {
	height: 100%;
	right: 0px;
	top: 0px;
	position: absolute;
	width: 25%;
}

/*img labels*/
img.hudImg {
	width: 100%;
}
img#hudLivesLabel {
	width: 150%;
}