html {
	height: 100%;
	width: 100%;
}

body#body {
	height: 100%;
	width: 100%;
	background-color: #000;
	margin: 0px;
}

h1#titleText {
	color: #fff;
}

/*hud stuff*/
div#hud {
	width: 50%;
	height: 15%;
	border-color: white;
	border-style: solid;
	position: absolute;
	/* no fucking clue why but this is what works for this value */
	bottom: -8%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.8);
}

/* world container Div */
div#world {
	position: absolute;
	height: 100%;
	width: 100%;
}

/*player subway car */
div#playerCarDiv {
	position: absolute;
	width: 6.25%;
	height: 10%;
}

img#playerCarImg {
	width: 100%;
	position: absolute;
}

/*wanted stars */
div#wantedStarsDiv {
	right: 0px;
	position: absolute;
}