html {
	height: 100%;
	width: 100%;
}

body#body {
	height: 100%;
	width: 100%;
	background-color: #000;
	margin: 0px;
}

h1#titleText {
	color: #fff;
}

div#world {
	position: absolute;
	height: 100%;
	width: 100%;
}

div#playerCarDiv {
	position: absolute;
	width: 6.25%;
	height: 10%;
}

img#playerCarImg {
	width: 100%;
	position: absolute;
}
