h1#pauseMenuH1 {
	color: #fff;
	font-style: italic;
	text-align: center;
}

div#pauseMenuStartButton {
	border-color: white;
	border-style: solid;
	border-width: 1px;
	width: 250px;
	padding: 15px;
}

div#pauseMenu {
	width: 50%;
	height: 50%;
	border-color: white;
	border-style: solid;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.8);
}

p#pauseMenuStartButtonText {
	color: #fff;
	text-align: center;
	font-size: 50px;
	margin: 0;
}

table#pauseMenuButtonsTable {
	margin: auto;
	border-spacing: 20px;
}
