h1#titleScreenH1 {
	color: #fff;
	text-align: center;
	margin-top: 25%;
}

div#titleScreenStartButton {
	border-color: white;
	border-style: solid;
	border-width: 1px;
	width: 250px;
	padding: 15px;
}

div#titleScreen {
	width: 50%;
	height: 50%;
	border-color: white;
	border-style: solid;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.8);
	background-repeat: no-repeat;
	background-size: cover;
}

p#titleScreenStartButtonText {
	color: #fff;
	text-align: center;
	font-size: 50px;
	margin: 0;
}

/* table that holds title screen buttons */
table#titleScreenButtonsTable {
	margin: auto;
	border-spacing: 20px;
	top: 15%;
	position: absolute;
	width: 50%;
	left: 25%;
}

/* title */
img#titleScreenImgLogo {
	width: 40%;
	left: 30%;
	position: absolute;
	top: 5%;
}

/* start button */
img#titleScreenImgStartButton {
	width: 50%;
}

/* controls button */
img#titleScreenImgControlsButton {
	width: 75%;
}

/* version number */
p#titleScreenVersionNumber {
	position: absolute;
	bottom: 2%;
	right: 1%;
	color: #fff;
	margin: 0px;
	font-size: 250%;
}