table#demoGridLevelTable {
	border-spacing: 0px;
	border-collapse: collapse;
	border: none;
	margin: 0;
	padding: 0;
	border-width: 0px;
	height: 888.8888888%;
	width: 562.5%;
	position: absolute;
	bottom: 0;
}

td#demoGridLevelTd {
	padding: 0px;
}

img#demoGridLevelImg {
	display: block;
	height: 100%;
	width: 100%;
}
