/*bg4 */
img.backBuilding {
	position: absolute;
	height: 50%;
}

img#bg4BackBuildingA {
	left: 15%;
}

img#bg4BackBuildingB {
	left: 40%;
}

img#bg4BackBuildingC {
	left: 55%;
}

img#bg4BackBuildingD {
	left: 75%;
}

/*bg5 */
img#bg5BackImg {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}