/*bg4 */
img.bg4BackBuilding {
	position: absolute;
	height: 95%;
	bottom: 0px;
}

img#bg4BackBuildingA {
	left: 15%;
}

img#bg4BackBuildingB {
	left: 75%;
}

img#bg4BackBuildingC {
	left: 80%;
}

img#bg4BackBuildingD {
	left: 120%;
}

/*bg5 */
img#bg5BackImg {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}