/*bg1*/
img.testLvl4BgaGridImg {
	width: 100%;
}

td.testLvl4BgaGridTd {
	width: 0.625%;
	padding: 0px;
}

table#testLvl4BgaGridLevelTable {
	height: 33.333%;
	border-spacing: 0px;
	border-collapse: collapse;
	border: none;
	margin: 0;
	padding: 0;
	border-width: 0px;
	position: absolute;
	bottom: 0px;
	width: 1000%;
}

/*bg2 */
img.bg2BackBuilding {
	position: absolute;
	height: 95%;
	bottom: 0px;
}

img#bg2BackBuildingA {
	left: 15%;
}

img#bg2BackBuildingB {
	left: 40%;
}

img#bg2BackBuildingC {
	left: 80%;
}

img#bg2BackBuildingD {
	left: 120%;
}

img#bg2BackBuildingE {
	left: 140%;
}

img#bg2BackBuildingF {
	left: 160%;
}

img#bg2BackBuildingG {
	left: 180%;
}

img#bg2BackBuildingH {
	left: 200%;
}

img#bg2BackBuildingI {
	left: 220%;
}

img#bg2BackBuildingJ {
	left: 240%;
}

img#bg2BackBuildingK {
	left: 260%;
}

img#bg2BackBuildingL {
	left: 280%;
}

/*bg3 */
img.bg3BackBuilding {
	position: absolute;
	height: 85%;
	bottom: 0px;
}

img#bg3BackBuildingA {
	left: 15%;
}

img#bg3BackBuildingB {
	left: 40%;
}

img#bg3BackBuildingC {
	left: 80%;
}

img#bg3BackBuildingD {
	left: 120%;
}

img#bg3BackBuildingE {
	left: 140%;
}

img#bg3BackBuildingF {
	left: 160%;
}

img#bg3BackBuildingG {
	left: 180%;
}

img#bg3BackBuildingH {
	left: 200%;
}

img#bg3BackBuildingI {
	left: 220%;
}

img#bg3BackBuildingJ {
	left: 240%;
}

img#bg3BackBuildingK {
	left: 260%;
}

img#bg3BackBuildingL {
	left: 280%;
}

/*bg4 */
img.bg4BackBuilding {
	position: absolute;
	height: 80%;
	bottom: 0px;
}

img#bg4BackBuildingA {
	left: 15%;
}

img#bg4BackBuildingB {
	left: 40%;
}

img#bg4BackBuildingC {
	left: 80%;
}

img#bg4BackBuildingD {
	left: 120%;
}

img#bg4BackBuildingE {
	left: 140%;
}

img#bg4BackBuildingF {
	left: 160%;
}

img#bg4BackBuildingG {
	left: 180%;
}

img#bg4BackBuildingH {
	left: 200%;
}

img#bg4BackBuildingI {
	left: 220%;
}

img#bg4BackBuildingJ {
	left: 240%;
}

img#bg4BackBuildingK {
	left: 260%;
}

img#bg4BackBuildingL {
	left: 280%;
}

/*bg5 */
img#bg5BackImg {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}
